<h1><%= @post.title %></h1>
<p><%= @post.context %></p>
<%= link_to 'Edit', edit_post_path %>
<%#= link_to 'Delete', @post.destroy %>
<%#= link_to("Destroy", posts_path, method: :delete) %>
<%= link_to 'Destroy', @post, method: :delete, data: { confirm: 'Are you sure?' } %>


